	/* -- colors -- */
	$colorwhite: #ffffff;
	$colorgrey: #555555;
	$colordarkgrey: #3f3f3f;
	$colorlightblack: #333333;
	$colorblack: #000000;
	$coloryellow: #ffc000;
	$txtcolor1: #5193ff;
	$yellowlink: #ffc000;
	$colorblue: #2059a8;
	$transparent: transparent;

	$width100: 100%;
	/* -- font-sizes -- */
	$font10: 10px;
	$font12: 12px;
	$font13: 13px;
	$font14: 14px;
	$font15: 15px;
	$font16: 16px;
	$font18: 18px;
	$font20: 20px;
	$font22: 22px;
	$font24: 24px;


	/* -- pixels -- */
	$px0:	0px;
	$px2:	2px;
	$px4:	4px;
	$px5:	5px;
	$px8:	8px;
	$px10:	10px;
	$px12:	12px;
	$px14:	14px;
	$px15:	15px;
	$px18:	18px;
	$px20:	20px;
	$px25:	25px;
	$px30:	30px;
	$px35:	35px;
	$px40:	40px;
	$px45:	45px;
	$px50:	50px;
	$px55:	55px;
	$px60:	60px;